@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript" src="~/Scripts/Cooker.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleFonts.css" />
    <script type="text/javascript" src="~/Scripts/Behavior.js"></script>
    @if (new[] { "internetexplorer", "internet explorer", "ie" }.Contains(Request.Browser.Browser.ToLower()) && int.Parse(Request.Browser.Version.Split('.').First()) < 10)
    {
        <link rel="stylesheet" type="text/css" href="~/Content/StyleBaseIE.css" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Content/StyleBase.css" />
    }

    @if (Request.Browser.IsMobileDevice)
    {
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <script type="text/javascript" src="~/Scripts/BehaviorIE.js"></script>
    }
    else
    {
        <meta name="viewport" content="width=device-width" />
    }
    <link rel="shortcut icon" href="~/Content/Images/icon.ico">
    <title>AnoviSoft - Base info</title>
</head>
<body id="baseBody" onload="Init();" onresize="Resize();">
    <div class="bbody" id="firstBack">
    </div>
    <div class="cbody" id="secondBack">
    </div>
<!--COLUMN-->
<div id="center_column">
    <!--BASEINFO-->
    <div class="row paper_group">
        <div class="col-1-3">
            <img class="photo" src="~/Content/Images/avatar.jpg" alt="Novikov Andrey"/>
        </div>
        <div class="col-2-3">
            <div class="paper">
                <div class="paper_up">
                    <h1>Novikov Andrey Igorevich</h1>
                </div>

                <h3>DevSkills</h3>
                <br/>
                <h4>С++</h4>
                <ul>
                    <li>High standard of knowledge</li>
                    <li>Standard C ++ 14</li>
                    <li>MFC</li>
                </ul>
                <h4>С#</h4>
                <ul>
                    <li>High standard of knowledge</li>
                    <li>C# 6.0</li>
                    <li>.net Framework 4.6</li>
                    <li>WPF</li>
                </ul>
                <h4>Python</h4>
                <ul>
                    <li>Python 3.x</li>
                </ul>
            </div>
        </div>
    </div>
    <!--SKILLS-->
    <div class="paper_group row">
        <div class="col-1">
            <div class="paper">
                <div class="paper_up">
                    <h2>Development of desktop and server applications</h2>
                </div>
                <ul>
                    <li>Windows </li>
                    <li>OS X</li>
                    <li>Linux</li>
                </ul>
            </div>
        </div>
        <div class="col-1-2">
            <div class="paper">
                <div class="paper_up">
                    <h2>Game moding</h2>
                </div>
                <ul>
                    <li>Unity engine</li>
                    <li>Unreal engine</li>
                </ul>
                <h3>Wide experience of a moding:</h3>
                <div>Kerbal Space Program</div>
            </div>
        </div>
        <div class="col-1-2">
            <div class="paper">
                <div class="paper_up">
                    <h2>Dev mobile applications</h2>
                </div>
                <h3>Crossplatform or native</h3>
                <ul>
                    <li>Android </li>
                    <li>IOS</li>
                    <li>WinFon</li>
                </ul>
            </div>
        </div>
    </div>
    <!--CONTACTINFO-->
    <div class="paper_group">
            <div class="paper">
                <div class="paper_up">
                    <h2>Social</h2>
                </div>
                <div class="row">
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="vk.com/craftydeveloper" src="/Content/Images/icon_vkontakte.png" onclick="location.href = 'https://vk.com/craftydeveloper'" />
                    </div>
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="urfu.ru" src="/Content/Images/icon_urfu.png" onclick="location.href = 'http://urfu.ru/en/'" />
                    </div>
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="www.facebook.com/profile.php?id=100001930047747" src="/Content/Images/icon_face.png" onclick="location.href = 'https://www.facebook.com/profile.php?id=100001930047747'" />
                    </div>
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="plus.google.com/u/0/112157981808654194368" src="/Content/Images/icon_google.png" onclick="location.href = 'https://plus.google.com/u/0/112157981808654194368'" />
                    </div>
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="twitter.com/l0dom" src="/Content/Images/icon_tweet.png" onclick="location.href = 'https://twitter.com/l0dom'" />
                    </div>
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="www.youtube.com/channel/UCM_UOFYX1K7huJsPkt4TXXQ" src="/Content/Images/icon_youtube.png" onclick="location.href = 'http://www.youtube.com/channel/UCM_UOFYX1K7huJsPkt4TXXQ'" />
                    </div>
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="L0dom@hotmail.com" src="/Content/Images/message.png" onclick="location.href = 'mailto:L0dom@hotmail.com'" />
                    </div>
                    <div class="col-1-8">
                        <img class="socImg cborder" alt="Anovi-Soft@hotmail.com" src="/Content/Images/message.png" onclick="location.href = 'mailto:Anovi-Soft@hotmail.com'" />
                    </div>
                </div>
            </div>
    </div>
</div>    <!--TOPBAR-->
    <div class="top_bar" id="topBar">
        <img class="labelImage border" alt="" id="menuButton" src="/Content/Images/menu.png" />
    </div>
<!--MENU-->
<div class="leftMenu" id="leftMenu">
    <div><button class="leftMenuItem" onclick="location.href = '/home/Index'">AnoviSoft</button></div>
    <div><button class="leftMenuItem" onclick="location.href = '/home/Album'">Album</button></div>
    <div><button class="leftMenuItem" onclick="location.href = '/home/Game'">Game</button></div>
    <div><button class="leftMenuItem" onclick="location.href = '/home/Contact'">Contact</button></div>
</div>
</body>
</html>
